#title {
    text-align: center;
}

h1 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#news {
    font-size: large;
}

a {
    font-size: 30px;
}